@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+AT:ital,wght@0,100..400;1,100..400&family=Playwrite+US+Trad:wght@100..400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: black;
}

/* share related styles */

.text-white {
  color: white;
}

.secondary-bg {
  background-color: rgb(34, 34, 34);
}

.text-center {
  text-align: center;
}

main>section {
  margin-top: 120px;
}

.section-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.display-flex {
  display: flex;
}

.color-primary {
  color: #E6533C;
}

.text-secondary {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.5);
}

.sub-title {
  font-size: 18px;
  font-weight: bold;
}

/* navbar styles */

header {
  background: linear-gradient(to bottom, #000000,
      #2d2d2d,
      #000000);
}

.navbar {
  max-width: 1044px;
  justify-content: space-between;
  margin: 47px auto;
  align-items: center;
}

.nav-title {
  font-size: 1.8rem;
  font-weight: 800;
  color: #E6533C;
}

.nav-items {
  padding: 9px 3px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 32px;
}

.navbar .nav-items li {
  list-style: none;
  font-size: 1rem;
  margin-right: 39px;
}

.navbar .nav-items li .item-link {
  text-decoration: none;
  color: white;
}

#item-btn {
  background-color: #E6533C;
  padding: 7px 19px;
  border-radius: 32px;
}

.nav-bar-icon {
  display: none;
  color: white;
}

/* Hero section style */

.hero {
  max-width: 1044px;
  margin: 0px auto;
  color: white;
}

.hero-text {
  margin-top: 60px;
}

.hero-title {
  font-size: 4.5rem;
  font-weight: 800;
}

.hero-title-contant {
  line-height: 80px;
}

#hero-shape-text {
  font-family: "Playwrite US Trad", cursive;
  font-weight: 100;
}

.hero-description {
  margin-top: 29px;
  margin-bottom: 29px;
}

.hero-join-btn {
  width: 185px;
  height: 44px;
  background-color: #E6533C;
  color: white;
  border-radius: 34px;
  border: none;
  margin-right: 11px;
}

.hero-download-btn {
  width: 185px;
  height: 44px;
  background-color: #000000;
  color: white;
  border-radius: 34px;
  border: 1px solid white;
}

.hero-img {
  position: relative;
  left: 235px;
  top: -23px;
}

.hero-img img {
  width: 100%;
  height: 520px;
}

.hero-card-500 {
  width: 160px;
  height: 81px;
  position: absolute;
  color: white;
  border: 1px solid red;
  top: 125px;
  left: 206px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(48, 48, 48, 0.54);
}

.hero-card-500 h2 {
  font-size: 2rem;
}

.hero-card-500 p {
  font-size: 0.8rem;
  color: rgba(239, 237, 232, 0.65);
}

.hero-card-350 {
  width: 160px;
  height: 81px;
  position: absolute;
  color: white;
  border: 1px solid green;
  top: 380px;
  left: -75px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: rgba(48, 48, 48, 0.54);
}

.card-icon {
  width: 33px;
  height: 33px;
  background-color: #E6533C;
  border-radius: 50%;
  margin-right: 10px;
}

.card-contant h2 {
  font-size: 2rem;
}

.card-contant p {
  color: rgba(239, 237, 232, 0.65);
}

/* habit section style */

.habit-conatiner {
  max-width: 1044px;
  margin: 0px auto;
}

.habit-image-container {
  max-width: 1044px;
  margin: 0px auto;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.habit-image-container img {
  border-radius: 50%;
}

.habit-image-container h4 {
  margin-top: 25px;
  margin-bottom: 15px;
}

.habit-image-container h4 p {
  text-align: center;
  margin-bottom: 20px;
}

/* ran section style */

.ran-container {
  max-width: 1044px;
  margin: 0px auto;
  background: rgb(34, 34, 34);
  justify-content: space-between;
  padding: 35px;
  margin-top: 100px;
  margin-bottom: 50px;
  border-radius: 10px;
}

.ran-contant {
  color: white;
}

.ran-title {
  font-size: 3rem;
  font-weight: 800;
}

.ran-description {
  margin-top: 14px;
  margin-bottom: 34px;
}

.ran-btn {
  padding: 14px 70px;
  background-color: #E6533C;
  border: none;
  color: white;
  border-radius: 25px;
  font-size: 15px;
  font-weight: 500;
}

.ran-img img {
  width: 366px;
  height: 312px;
  object-fit: cover;
  border-radius: 8px;
}

/* bmi section style */
.bmi-container {
  width: 100%;
}

.bmi-title-container {
  margin-bottom: 50px;
}

.bmi-contant {
  max-width: 1044px;
  margin: 0px auto;
  color: white;
  padding: 43px 0px;
  justify-content: space-between;
}

.bmi-chart table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid gray;
  padding: 10px 20px;
}

.bmi-chart-title {
  font-size: 1.8rem;
  font-weight: 800;
  margin-bottom: 43px;
}

.bmi-Calculate {
  width: 577px;
  height: 345px;
}

.bmi-Calculate-title {
  font-size: 1.8rem;
  font-weight: 800;
  margin-bottom: 14px;
}

.bmi-Calculate-input-container {
  margin-top: 34px;
  display: grid;
  grid-template-columns: repeat(2, 49%);
  gap: 12px;
  margin-bottom: 1.5rem;
}

.bmi-Calculate-item {
  padding: 13px 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 8px;
  color: #767676;
}

#bmi-Calculate-activity {
  width: 100%;
  margin-top: -30px;
  padding: 13px 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 8px;
  color: #767676;
}

.Calculate-btn {
  font-size: 14px;
  font-weight: 600;
  margin-top: 28px;
  padding: 13px 58px;
  background-color: #E6533C;
  border-radius: 24px;
  border: none;
  color: white;
}

/* team section style */
.team-container {
  max-width: 1044px;
  margin: 0px auto;
  color: white;
}

.team-title {
  margin-top: 120px;
}

.team-description {
  margin-bottom: 50px;
}

.team-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 8px;
}

.team-img img {
  width: 100%;
  height: 272px;
  display: block;
  object-fit: cover;
  border-radius: 8px;
}

.team-contant {
  position: relative;
}

.text-overly {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  border-radius: 5px;
}

/* membership section style */

.membership {
  max-width: 1044px;
  margin: 0px auto;
  color: white;
}

.membership-title {
  margin-top: 100px;
  margin-bottom: 50px;
}

.lavel-container {
  justify-content: center;
  align-items: center;
}

.level-1-membarship {
  width: 239px;
  height: 430px;
  box-shadow: 0 6px 10px 0 #e6533c;
  border-radius: 8px;
  padding: 20px;
  background-color: #121212;
}

.level-1-title {
  font-size: 2.1rem;
  font-weight: bold;
  color: #E6533C;
  margin-bottom: 24px;
}

.level-1-price {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.mambarship-package {
  margin-top: 24px;
}

.mambarship-package li {
  margin-bottom: 12px;
  margin-left: 18px;
  list-style: circle;
}

.level-1-btn {
  font-size: 14px;
  margin-top: 38px;
  padding: 13px 53px;
  border: none;
  color: white;
  background-color: #E6533C;
  border-radius: 24px;
}

.level-2-membarship {
  width: 257px;
  height: 498px;
  box-shadow: 0 6px 10px 0 #2d2d2d;
  border-radius: 8px;
  padding: 20px;
  background-color: #E6533C;
  margin-left: 30px;
  margin-right: 30px;
}

.level-2-title {
  font-size: 2.1rem;
  font-weight: bold;
  color: white;
  margin-top: 10px;
  margin-bottom: 24px;
}

.level-2-price {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.mambarship-package {
  margin-top: 24px;
  color: white;
}

.level-2-btn {
  font-size: 14px;
  margin-top: 65px;
  padding: 13px 58px;
  border: none;
  color: white;
  background-color: #121212;
  border-radius: 24px;
}

.level-3-membarship {
  width: 239px;
  height: 430px;
  box-shadow: 0 6px 10px 0 #e6533c;
  padding: 20px;
  border-radius: 8px;
  background-color: #121212;
}

.level-3-title {
  font-size: 2.1rem;
  font-weight: bold;
  color: #E6533C;
  margin-bottom: 24px;
}

.level-3-price {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.mambarship-package {
  margin-top: 24px;
}

.level-3-btn {
  font-size: 14px;
  margin-top: 13px;
  padding: 13px 53px;
  border: none;
  color: white;
  background-color: #E6533C;
  border-radius: 24px;
}

/* footer section style */

footer {
  width: 100%;
  height: 100%;
  margin-top: 100px;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-container {
  max-width: 1044px;
  margin: 0px auto;
  color: white;
  padding-top: 66px;
}

.footer-logo {
  font-size: 3.6rem;
  font-weight: 900;
  color: #E6533C;
  margin-bottom: 20px;
}

.footer-fitness,
.footer-sub-title1,
.footer-sub-title2 {
  margin-right: 152px;
  width: 100%;
}

.footer-get-started1 ul>li {
  list-style: none;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 18px;
}

.footer-sub-title1,
.footer-sub-title2 {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer-get-started2 ul>li {
  list-style: none;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 18px;
}

.footer-copyright hr {
  margin-top: 82px;
}

.footer-copyright p {
  padding: 30px 0px;
}

@media screen and (max-width: 576px) {

  body {
    max-width: 353px;
    margin: 0px auto;
  }

  .navbar .nav-items {
    display: none;
    color: white;
  }

  .nav-bar-icon {
    display: block;
  }

  .hero,
  .habit-image-container,
  .ran-container,
  .bmi-contant,
  .footer-contant,
  .lavel-container {
    flex-direction: column;
    gap: 50px;
  }

  .hero-img img {
    margin-top: 50px;
    margin-left: -230px;
  }

  .hero-card-500 {
    top: 250px;
    left: -90px;
  }

  .hero-card-350 {
    top: 450px;
    left: -200px;
  }

  .ran-container {
    padding: 20px;
  }

  .ran-btn {
    padding: 14px 120px;
  }

  .ran-img img {
    width: 100%;
    height: 100%;
  }

  .bmi-Calculate {
    width: 100%;
  }

  .bmi-container {
    padding: 15px;
  }

  .bmi-Calculate-input-container {
    grid-template-columns: repeat(2, 48%);
  }

  .team-img {
    grid-template-columns: repeat(1, 1fr);
  }

  footer {
    padding: 20px;
  }
}