@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  background-color: black;
}

/* share related styles */
.display-flex {
  display: flex;
}

/* navbar styles */
.navbar {
  max-width: 1044px;
  justify-content: space-between;
  margin: 47px auto;
  align-items: center;
}

.nav-title {
  font-size: 1.8rem;
  font-weight: 800;
  color: #E6533C;
}

.nav-items {
  padding: 9px 3px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 32px;
}

.navbar .nav-items li {
  list-style: none;
  font-size: 15px;
  margin-right: 39px;
}

.navbar .nav-items li .item-link {
  text-decoration: none;
  color: white;
}

#item-btn {
  background-color: #E6533C;
  padding: 7px 19px;
  border-radius: 32px;
}

.nav-bar-icon {
  color: white;
}


@media screen and (max-width: 576px) {

  /* navbar responsive */
  .navbar {
    max-width: 353px;
  }

  .navbar .nav-items {
    display: none;
    color: white;
  }

  .nav-bar-icon {
    display: block;
  }
}